body {
    background-color: green !important; /* You can keep this if you want */
}

/* You can remove .card-container as it's not used anymore */

div.card {
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 0.75rem rgba(0,0,0,0.4);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    border: 2px solid black; /* Add border property */
}

.card:hover {
    transform: scale(1.05) rotate(4deg); /* Combined scale and rotate transform */
}

.card-value,
.card-suit {
    font-size: 100px;
    position: absolute;
}

.top {
    top: 20px;
    left: 20px;
}

.bottom {
    bottom: 20px;
    right: 20px;
}

.number {
    font-size: 100px;
    text-align: center;
}

.black {
    color: black;
}

.red {
    color: red;
}
